<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/camanjs/4.1.2/caman.full.min.js"></script>
  <style>
    .slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}
  </style>

  <title>Node File Uploads</title>
</head>
<body>
  <div class="container">
    <h1>File Upload</h1>
    <%= typeof msg != 'undefined' ? msg : '' %>
    <form action="/upload" method="POST" enctype="multipart/form-data">
      <div class="file-field input-field">
        <div class="btn grey">
          <span>File</span>
          <input name="myImage" type="file">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>
      <button type="submit" class="btn">Submit</button>
    </form>
    <br>
    <img id="scream"  src="<%= typeof file != 'undefined' ? file : '' %>">

    <p>Canvas:</p>
    <canvas id="myCanvas">
      Your browser does not support the HTML5 canvas tag.
    </canvas>

    <form id="silderInput">   
        <label for="hue">Hue</label>
        <input id="hue" name="hue" type="range" min="0" max="300" value="0">
      
        <label for="contrast">Contrast</label>
        <input id="contrast" name="contrast" type="range" min="-20" max="20" value="0">
    </form>

    <script>
      window.onload = function() {
      var c = document.getElementById("myCanvas");
      var ctx = c.getContext("2d");
      var img = document.getElementById("scream");
      c.width = img.width;
      c.height = img.height;
      ctx.drawImage(img, 0, 0, img.width,    img.height,     // source rectangle
                   0, 0, c.width, c.height);
      };
    </script>
    
  <script>
    $('input[type=range]').change(applyFilters);

    function applyFilters() {
      console.log("chutiya");
      var hue = parseInt($('#hue').val());
      var cntrst = parseInt($('#contrast').val());

        Caman('myCanvas' , function() {
          this.revert(false);
          this.hue(hue);
          this.contrast(cntrst);
          this.render();
        });
    }
  </script>

<!-- <script
src="https://code.jquery.com/jquery-3.2.1.min.js"
integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
crossorigin="anonymous"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>


</body>
</html>